confirm-close-surface = false
font-family = "Hack Nerd Font Mono Regular"
macos-option-as-alt = true
macos-titlebar-style = transparent
scrollback-limit = 100000
shell-integration = zsh
theme = "Catppuccin Mocha"
window-padding-balance = true
window-padding-x = 10
window-padding-y = 10
window-save-state = always